<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


    <title id="title">Value</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>

    </style>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h1 id="username" class="h2 text-left" style="margin-top: 10px; margin-bottom: 10px;">
                Username </h1>
        </div>
        <div class="col-md-2">
            <h1 id="userAuthorities" class="h2 text-left" style="margin-top: 10px; margin-bottom: 10px;">
                Authorities</h1>
        </div>
        <div class="col-sm-6"></div>
        <div class="row justify-content-end">
            <button type="button" class="btn btn-outline-secondary">
                <a class="nav-link" href="/logout">Sign out</a>
            </button>
        </div>

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2 d-none d-md-block bg-light sidebar">
            <ul class="nav flex-column nav-pills">
                <li class="nav-item" id="navForAdmin">
                    <a class="nav-link" id="admin-tab" data-toggle="tab" href="#admin-pan" role="tab"
                       aria-controls="admin-pan" aria-selected="false">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="user-tab" data-toggle="tab" href="#user-pan" role="tab"
                       aria-controls="user-pan" aria-selected="true">User</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="user-pan" role="tabpanel" aria-labelledby="user-tab">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">User information</h1>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>name</th>
                                <th>lastname</th>
                                <th>pass</th>
                                <th>roles</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th id="userId">id</th>
                                <th id="userUsername">name</th>
                                <th id="userLastname">lastname</th>
                                <th id="userPassword">pass</th>
                                <th id="userRoles">role</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="admin-pan" role="tabpanel" aria-labelledby="admin-tab">
                    <div class="col-md-10">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <nav>
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                               href="#nav-home"
                                               role="tab" aria-controls="nav-home" aria-selected="true">Users table</a>
                                            <a class="nav-item nav-link" id="nav-add-tab" data-toggle="tab"
                                               href="#nav-add"
                                               role="tab" aria-controls="nav-home" aria-selected="true">New user</a>
                                        </div>
                                    </nav>
                                    <div class="tab-content" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                             aria-labelledby="nav-home-tab">
                                            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                                                <h1 class="h2">User information</h1>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table table-striped table-sm" id="admin-users-table">
                                                    <thead>
                                                    <tr>
                                                        <th>id</th>
                                                        <th>name</th>
                                                        <th>lastname</th>
                                                        <th>pass</th>
                                                        <th>roles</th>
                                                        <th>edits</th>
                                                        <th>deletes</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="nav-add" role="tabpanel"
                                             aria-labelledby="nav-profile-tab">
                                            <form>
                                                <div>
                                                    <label for="name"> Enter name</label>
                                                    <input type="text" id="name"/>
                                                    <br/>
                                                    <label for="lastName"> Enter lastname</label>
                                                    <input type="text" id="lastName"/>
                                                    <br/>
                                                    <label for="password"> Enter passport</label>
                                                    <input type="text" id="password"/>
                                                    <br/>
                                                    <label for="name"> Select roles</label>
                                                    <div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                   id="userCheck">
                                                            <label class="form-check-label">
                                                                User
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                   id="adminCheck">
                                                            <label class="form-check-label">
                                                                Admin
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <br/>
                                                    <button type="button" class="btn btn-success" id="new-user-submit">
                                                        Add user
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
</div>

<!----MODAL DELETE---->
<div class="modal fade" id="deleteModal"
     tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle2">Delete
                    user data</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="modal-body">
                    <div class="modal-body">
                        You are about to delete:
                        <br/>
                        <div id="deleteId">id</div>
                        <br/>
                        <div id="deleteUsername">username</div>
                        <br/>
                        <div id="deleteLastNameUsername">lastname</div>
                        <br/>
                        <div id="deletePassword">password</div>
                        <br/>
                        <div id="deleteAuthorities">authorities</div>

                        <form action="#">
                            <input type="text" hidden="true">
                        </form>
                    </div>
                </div>

                <br/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Close
                </button>
                <form>
                    <button id="delete-submit" type="button" class="btn btn-danger" data-dismiss="modal">
                        Remove
                    </button>
                </form>
            </div>
        </div>
    </div>

</div>

<!-----MODAL EDIT------>
<div class="modal fade" id="editModal"
     tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        Edit user data</h5>
                    <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div>
                        <div>
                            <label> User id </label>
                            <label id="editId"> userid</label>
                            <br/>
                            <label> Enter name</label>
                            <input type="text" name="username"
                                   id="editUsername"/>
                            <br/>
                            <label> Enter lastname</label>
                            <input type="text" name="lastName"
                                   id="editLastname"/>
                            <br/>
                            <label> Enter passport</label>
                            <input type="text" name="password"
                                   id="editPassword"/>
                            <br/>
                            <label> Select roles</label>
                            <div>
                                <div>
                                    <div class="form-check">
                                        <input class="form-check-input"
                                               type="checkbox" id="edit-user-check">
                                        <label class="form-check-label">
                                            USER checkbox
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input"
                                               type="checkbox" id="edit-admin-check">
                                        <label class="form-check-label">
                                            ADMIN checkbox
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <br/>
                        </div>
                    </div>
                    <br/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Close
                    </button>
                    <button type="button" data-dismiss="modal"
                            class="btn btn-primary" id="edit-confirm">Save changes
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="module">
    async function userDataGet() {
        let url = 'http://localhost:8081/api/user';
        let response = await fetch(url);
        let user;
        if (response.ok) {
            user = await response.json();
            $("#title").text(user.username);
            $("#username").text(user.username);
            $("#userId").text(user.id);
            $("#userUsername").text(user.username);
            $("#userLastname").text(user.lastName);
            $("#userPassword").text(user.password);
            if (user.authorities.length > 1) {
                $("#userRoles").text(user.authorities[0].authority + " " + user.authorities[1].authority);
                $("#userAuthorities").text(user.authorities[0].authority + " " + user.authorities[1].authority);
                $("#navForAdmin").show();
            } else {
                $("#userRoles").text(user.authorities[0].authority);
                $("#userAuthorities").text(user.authorities[0].authority);
                $("#navForAdmin").hide();
            }
        } else {
            alert("Ошибка HTTP: " + response.status);
        }
    }

    userDataGet();
    let id = 1;

    async function getSelectedUserData(id) {
        console.log(id);
        let url = 'http://localhost:8081/api/user/' + id;
        let response = await fetch(url);
        let user;
        if (response.ok) {
            user = await response.json();
            $("#title").text(user.username);
            $("#username").text(user.username);
            if (user.authorities.length > 1) {
                $("#userAuthorities").text(user.authorities[0].authority + " " + user.authorities[1].authority);
                $("#navForAdmin").show();
            } else {
                $("#userAuthorities").text(user.authorities[0].authority);
                $("#navForAdmin").hide();
            }
        }
    }

    async function getDeleteUSerData(id) {
        console.log(id);
        let url = 'http://localhost:8081/api/user/' + id;
        let response = await fetch(url);
        let user;
        if (response.ok) {
            user = await response.json();
            $("#deleteId").text(user.id);
            $("#deleteUsername").text(user.username);
            $("#deleteLastname").text(user.lastName);
            $("#deletePassword").text(user.password);
            if (user.authorities.length > 1) {
                $("#deleteAuthorities").text(user.authorities[0].authority + " " + user.authorities[1].authority);
            } else {
                $("#deleteAuthorities").text(user.authorities[0].authority);
            }
        }
    }

    function getCookie(name) {
        if (!document.cookie) {
            return null;
        }

        const xsrfCookies = document.cookie.split(';')
            .map(c => c.trim())
            .filter(c => c.startsWith(name + '='));

        if (xsrfCookies.length === 0) {
            return null;
        }
        return decodeURIComponent(xsrfCookies[0].split('=')[1]);
    }

    async function deleteUser(id) {
        console.log(id);
        let url = 'http://localhost:8081/api/delete/' + id;
        let token = $("meta[name='_csrf']").attr("content");
        let header = $("meta[name='_csrf_header']").attr("content");
        const csrfToken = document.cookie.replace(/(?:(?:^|.*;\s*)XSRF-TOKEN\s*\=\s*([^;]*).*$)|^.*$/, '$1');
        const csrfToken2 = getCookie('CSRF-TOKEN');
        await fetch(url, {
            method: 'DELETE',
            headers: {header: token}
        });
        $('#navForAdmin').click();
    }

    async function newUser(user) {
        let url = 'http://localhost:8081/api/new';
        console.log(user.username);
        console.log(user);
        await fetch(url, {
            method: 'POST',
            headers: new Headers({'content-type': 'application/json'}),
            body: JSON.stringify(user)
        });
    }

    async function editUser(user) {
        let url = 'http://localhost:8081/api/edit';
        console.log(user.username);
        console.log(user);
        await fetch(url, {
            method: 'PATCH',
            headers: new Headers({'content-type': 'application/json'}),
            body: JSON.stringify(user)
        });
        $('#navForAdmin').click();
    }

    async function getEditUSerData(id) {
        console.log(id);
        let url = 'http://localhost:8081/api/user/' + id;
        let response = await fetch(url);
        let user;
        if (response.ok) {
            user = await response.json();
            $("#editId").text(user.id);
            $("#editUsername").val(user.username);
            $("#editLastname").val(user.lastName);
            $("#editPassword").val(user.password);
        }
    }

    async function getAdminData() {
        let url = 'http://localhost:8081/api/users';
        let response = await fetch(url);
        let users;
        if (response.ok) {
            users = await response.text();
            let parsed = JSON.parse(users);
            $("#admin-users-table").empty();
            parsed.forEach((element) => {
                let id = element.id;
                let editId = 'button_edit' + id;
                let deleteId = 'button_delete' + id;
                let authorities;
                if (element.authorities.length > 1) {
                    authorities = element.authorities[0].authority + " " + element.authorities[1].authority;
                } else {
                    authorities = element.authorities[0].authority;
                }
                $("#admin-users-table").append($('<tr>')
                    .append($('<th>').append(element.id))
                    .append($('<th>').append(element.username))
                    .append($('<th>').append(element.lastName))
                    .append($('<th>').append(element.password))
                    .append($('<th>').append(authorities))
                    .append($('<th>').append('<button type="button" class="btn btn-info" id="' + editId + '">Edit</button>'))
                    .append($('<th>').append('<button type="button" class="btn btn-danger" id="' + deleteId + '">Delete</button>'))
                );
            });
            $('[id^=button_delete]').click(function () {
                let name = this.id;
                let id = name.substring(13);
                $('#deleteModal').modal('show');
                getDeleteUSerData(id);
            });
            $('[id^=button_edit]').click(function () {
                let name = this.id;
                let id = name.substring(11);
                $('#editModal').modal('show');
                getEditUSerData(id);
            });
        }
    }

    $('#navForAdmin').click(function () {
        getAdminData();
    })

    $('[id^=but_test]').click(function () {
        console.log(this.id);
        let name = this.id;
        let id = name.substring(8);
        getSelectedUserData(id);
    });
    $('[id^=button_delete]').click(function () {
        let name = this.id;
        let id = name.substring(13);
        $('#deleteModal').modal('show');
        getDeleteUSerData(id);

    });

    $('#delete-submit').click(function () {
        let id = $('#deleteId').text();
        deleteUser(id);
        $('#navForAdmin').click();
    })

    $('[id^=button_edit]').click(function () {
        let name = this.id;
        let id = name.substring(11);
        $('#editModal').modal('show');
        getEditUSerData(id);
    });

    $('#new-user-submit').click(function () {
        let username = $("#name").val();
        let lastname = $("#lastName").val();
        let password = $("#password").val();
        let authorities;
        if ($("#userCheck").is(':checked')) {
            if ($("#adminCheck").is(':checked')) {
                authorities = [{authority: 'USER'}, {authority: 'ADMIN'}];
            } else {
                authorities = [{authority: 'USER'}];
            }
        } else {
            if ($("#adminCheck").is(':checked')) {
                authorities = [{authority: 'ADMIN'}];
            }
        }
        let user = {username: username, password: password, lastName: lastname, authorities: authorities};
        newUser(user);
        $('#navForAdmin').click();
        $('#nav-home-tab').tab('show');
    })

    $('#edit-confirm').click(function () {
        let id = $("#editId").text();
        let username = $("#editUsername").val();
        let lastname = $("#editLastname").val();
        let password = $("#editPassword").val();
        let authorities;
        if ($("#edit-user-check").is(':checked')) {
            if ($("#edit-admin-check").is(':checked')) {
                authorities = [{authority: 'USER'}, {authority: 'ADMIN'}];
            } else {
                authorities = [{authority: 'USER'}];
            }
        } else {
            if ($("#edit-admin-check").is(':checked')) {
                authorities = [{authority: 'ADMIN'}];
            }
        }
        let user = {id: id, username: username, password: password, lastName: lastname, authorities: authorities};
        editUser(user);
        $('#navForAdmin').click();

    })

</script>
</body>

</html>