<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <title>User</title>
</head>
<body>
<!--navbar-->
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand">
                <strong id="navbar-email" th:font="bold"></strong>
                with roles:
                <span id="navbar-roles"></span>
            </a>
        </div>
        <a th:href="@{/logout}" class="float-right btn text-secondary">Logout</a>
    </div>
</nav>
<!--close navbar-->
<!--left panel-->
<div class="container-fluid">
    <div class="row">
        <div class="d-flex align-items-start">
            <div class="col-md-2">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <!-- user page marker-->
                    <button class="nav-link"
                            id="v-pills-user-tab"
                            data-bs-toggle="pill"
                            data-bs-target="#v-pills-user"
                            type="button" role="tab"
                            aria-controls="v-pills-user"
                            aria-selected="false"
                    >User</button>
                </div>
            </div>
            <div class="col-md-10" style="background-color: #F7F7F7">

                <div class="tab-pane fade show active"
                     id="v-pills-user"
                     role="tabpanel"
                     aria-labelledby="v-pills-user-tab"
                     tabindex="0">
                    <div>
                        <h5>User information-page</h5>
                    </div>
                    <div class="container-fluid">
                        <table class="table table-striped" style="background-color: #F7F7F7">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First name</th>
                                <th scope="col">Last name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody id="usertbody">
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--close user info view-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script th:src="@{/userJs/userPage.js}"></script>
</script>
</body>
</html>